{% block doc -%}
<!doctype html>
<html lang="de"{% block html_attribs %}{% endblock html_attribs %}>
  {%- block html %}
  <head>
    {%- block head %}
    <title>{%- block title -%}{{ title or 'iCal importer' }}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if canonical_url %}
    <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='apple-touch-icon.png')}}">

    {%- block styles_before %}
    {%- endblock styles_before %}

    <link rel="stylesheet" href="{{ url_for('static', filename='ext/bootstrap.4.6.2.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ext/font-awesome.5.13.1/css/all.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

    {%- block styles %}
    {%- endblock styles %}

    {% if False | env_override('FLASK_DEBUG') %}
    <script src="{{ url_for('static', filename='ext/jquery-3.6.4.js')}}"></script>
    {% else %}
    <script src="{{ url_for('static', filename='ext/jquery-3.6.4.min.js')}}"></script>
    {% endif %}

    {% block header_before_site_js %}
    {%- endblock -%}
    <script src="{{ url_for('static', filename='site.js')}}"></script>

    {% block header %}
    {% endblock %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
      {% block navbar %}
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='calendar_icon_90.png')}}" width="30" height="30" class="d-inline-block align-top rounded" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav mr-auto">
                {% if current_user %}
                <a class="nav-item nav-link" href="{{ url_for('configurations') }}">{{ _('Configurations') }}</a>
                {% endif %}
              </div>
              <div class="navbar-nav navbar-right">
                {% if current_user %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ current_user.email }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserDropdown">
                      <a class="dropdown-item" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
                    </div>
                  </li>

                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('login') }}">{{ _('Login') }}</a>
                {% endif %}

              </div>
          </div>
      </nav>
      {%- endblock navbar %}

      <div class="body-content"{% block body_content__attribs %}{% endblock body_content__attribs %}>

          {% block content_container -%}
          <main {% block content_container_attribs %}class="p-3"{% endblock content_container_attribs %}>
            <div {% block messages_container_attribs %}{% endblock messages_container_attribs %}>
              {% include "_messages.html" %}
            </div>

            {% block content -%}
            {%- endblock content %}
          </main>
          {%- endblock content_container %}
      </div>

      <script src="{{ url_for('static', filename='ext/popper.1.16.0.min.js')}}"></script>
      <script src="{{ url_for('static', filename='ext/bootstrap.4.6.2.min.js')}}"></script>
      {% block scripts %}
      {%- endblock scripts %}
    {%- endblock body %}
  </body>
  {%- endblock html %}
</html>
{% endblock doc -%}