{% extends "layout.html" %}

{% block header %}
<script>

    function save() {
      btn_loading($("#save_btn"));
      fetch("{{ url_for('configurations_update_js_save', id=configuration.id) }}", {method:'put', body: new FormData(form)})
        .then(_ => btn_loaded($("#save_btn")));
    }

    function preview() {
      btn_loading($("#preview_btn"));
      const form = document.getElementById("form");
      const preview_body = $("#preview_body");
      preview_body.empty();
      $("#preview_table").hide();

      fetch("{{ url_for('configurations_update_js_preview', id=configuration.id) }}", {method:'post', body: new FormData(form)})
        .then(response => response.json())
        .then(run => {

          $.each(run.log_entries, function(index, log_entry) {
            if (log_entry.type == "vevent") {
              const vevent = log_entry.context.vevent;
              const standard = JSON.stringify(log_entry.context.standard, null, 2);
              const event = JSON.stringify(log_entry.context.event, null, 2);
              const errors = log_entry.context.errors.length > 0 ? JSON.stringify(log_entry.context.errors, null, 2) : " ";
              const hints = log_entry.context.hints.length > 0 ? JSON.stringify(log_entry.context.hints, null, 2) : " ";
              preview_body.append('<tr><td>' + vevent + '</td><td>' + standard + '</td><td>' + event + '</td><td>' + errors + '</td><td>' + hints + '</td></tr>');
            } else {
              preview_body.append('<tr><td colspan="5">' + log_entry.message + '</td></tr>');
            }

          });

          btn_loaded($("#preview_btn"));
          $("#preview_table").show();
        });
    }

    function finish() {
      location.replace("{{ url_for('configuration', id=configuration.id) }}");
    }

    function delete_configuration() {
      if (!window.confirm("Delete configuration?")) {
        return;
      }

      btn_loading($("#delete_btn"));
      fetch("{{ url_for('configurations_update_js_delete', id=configuration.id) }}", {method:'delete'})
        .then(_ => location.replace("{{ url_for('configurations') }}"));
    }

    $(document).ready(function() {
        $("#preview_table").hide();
    });

</script>
{% endblock %}

{% macro render_field(id, field_type) %}
<div class="form-group">
  <label class="mb-0" for="{{ id }}">{{ _(id) }}</label>
  <div class="input-group">
    {% if field_type=="input" %}
    <input class="form-control" id="{{ id }}" name="{{ id }}" type="{{ kwargs.get('input_type', 'text') }}" value="{{ configuration[id] or "" }}" />
    {% elif field_type=="textarea" %}
    <textarea class="form-control" id="{{ id }}" name="{{ id }}" cols="30" rows="1">{{ configuration[id] or "" }}</textarea>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% block content %}
<h1>Update {{ configuration.title or configuration.id }}</h1>

  <form id="form">
    <div>
      {{ render_field('title', 'input') }}
      {{ render_field('organization_id', 'input') }}
      {{ render_field('identifier_tag', 'input') }}
      {{ render_field('url', 'input', input_type='url') }}

      {% for mapper_attr in configuration._mapper_attrs %}
        {{ render_field(mapper_attr, 'textarea') }}
      {% endfor %}
    </div>
  </form>

  <div>
    <button id="save_btn" class="btn btn-primary" onclick="save()">Save</button>
    <button id="preview_btn" class="btn btn-secondary" onclick="preview()">Preview</button>
    <button id="close_btn" class="btn btn-outline-secondary" onclick="finish()">Close</button>
  </div>
  <div class="mt-4">
    <button id="delete_btn" class="btn btn-danger" onclick="delete_configuration()">Delete configuration</button>
  </div>

  <div class="table-responsive mt-4" id="preview_table">
    <table class="table table-sm table-bordered table-hover table-striped table-preview">
        <thead>
          <tr><th>Vevent</th><th>Standard</th><th>Event</th><th>Errors</th><th>Hints</th></tr>
        </thead>
        <tbody id="preview_body">
        </tbody>
    </table>
</div>

{% endblock content %}
